* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    background-color: black;
    background-image: url('../media/background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
}

body {
    height: 100%;
    width: 100%;
}

.topbar {
    background-color: #0056af;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.topbar a {
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    color: #ffffff;
    background-color: #0056af;
    user-select: none;
    flex-grow: 0;
}

.topbar div > a {
    border-left: 2px dotted;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #0056af;
}

.topbar a:hover, .topbar div:hover a  {
    background-color: #b9d2f3;
    color: #0056af;
}

#topbar-extand {
    flex-grow: 4;
    border-left: 2px dotted white;
}

.container {
    width: 964px;
    position: absolute;
    left: 478px;
    top: 80px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.all-toys, .top3, .a_toy {
    margin-top: 36px;
}

.top3 {
    display: flex;
    flex-direction: column;
}

.top3 div div {
    margin: 25px;
    flex-grow: 1;
    flex-basis: 33.33333333%;
}

#brands {
    flex-grow: 0;
    display: flex;
    justify-content: center;
}

#brands:hover a {
    border: inherit;
}

#brands div {
    display: none;
    position: absolute;
    top: 42px;
    list-style-type: none;
    left: 138px;
}

#brands div a {
    border: inherit;
    color: black;
    background-color: #b9d2f3;
}

#brands > div a:hover {
    background-color: #d8dcfc;
}

#brands:hover div {
    display: block;
}

.toy_desc p {
    margin-bottom: 32px;
}